[submodule "Libraries/doctest"]
	path = Libraries/doctest
	url = https://github.com/doctest/doctest
[submodule "Libraries/random"]
	path = Libraries/random
	url = https://github.com/effolkronium/random
[submodule "Libraries/json"]
	path = Libraries/json
	url = https://github.com/nlohmann/json
